.messages {
	padding: 20px 16px;
	background-color: rgb(71, 70, 71);
}

.ownMessageGroup {
	display: flex;
	flex-direction: column;
	align-items: self-end;
}

.senderName {
	color: white;
	font-size: 19px;
	font-family: sans-serif;
}

.message {
	margin-top: 8px;
	padding: 12px;
	border-radius: 16px;
	width: fit-content;
	font-size: 18px;
}

.ownMessage {
	background-color: #4e3232;
	margin-left: 20%;
	color: white;
}

.notOwnMessage {
	background-color: rgb(134 124 124);
	margin-right: 20%;
	color: rgb(255, 215, 215)
}